.sidebar-box1{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 20px
}

.sidebar-box2{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 20px
}

.img{
    border-radius: 100px;
}
.listen1{
    border-radius: 10px;
    width: 100%
}