.mainbg{
  
  background-color: black;
    height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
}
.body-container{
  width: 100%;
    display: flex;
  flex-direction: row;
  


}

.sidebar{
  height: 100vh;
    width: 35%;

    border-top-left-radius: 30px;
border-top-right-radius: 30px;

}

.cards-container{
  height: 100vh;
  width: 100%;
        border-top-right-radius: 30px;

}
